body {
    font-family: "Montserrat";
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: "Montserrat-Black";
    font-size: 5rem;
    line-height: 1.5;
}

.navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand {
    font-family: "Montserrat-Black";
    font-size: 2.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.25rem;
    font-family: "Montserrat-Light";
    color: #fff;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.iphone {
    width: 370px;
}

.title-image {
    width: 80%;
    margin-left: 60%;
    transform: rotate(15deg);
}

#features {
    padding: 5% 13%;
    background-color: #fff;

}

.feature-box {
    text-align: center;
    padding: 5%;
}

h3 {
    font-family: "Montserrat-Bold";
}

p {
    color: #8f8f8f;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #dd4c68;
}

#testimonials {
    padding: 7% 10%;
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

.carousel-item {
    padding-left: 200px;
    padding-right: 200px;
}

h2 {
    font-family: "Montserrat-Bold";
    font-size: 3rem;
}

.testimonials-image {
    width: 15%;
    border-radius: 100%;
    margin: 2%;
}

#press {
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 20px;
}

.press-image {
    width: 12%;
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    margin: 3%;
}

#pricing {
    padding: 100px;
    text-align: center;
}
#cta{
    background-color: #ff4c68;
    text-align: center;
    font-family: "Montserrat-Bold";
    padding: 4% 20%;
}
.vvv{
    font-size: 4rem;
    color: #fff;

}
#footer{
    text-align: center;
    font-size: 1.1rem;
    color: black;
}
.finalicon{
    margin: 20px 10px;
}
@media (max-width: 1040px) 
{
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
        width: 50%;
    }
}